/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

body {
	position: relative;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background: rgba(122, 167, 214, .1);
	background: -moz-linear-gradient(top, rgba(122, 167, 214, .1) 0%, rgba(3, 60, 130, .1) 100%);
	background: -webkit-linear-gradient(top, rgba(122, 167, 214, .1) 0%, rgba(3, 60, 130, .1) 100%);
	background: linear-gradient(to bottom, rgba(122, 167, 214, .1) 0%, rgba(3, 60, 130, .1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7aa7d6', endColorstr='#033c82', GradientType=0);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
	background-color: #7aa7d6;
	width: 100%;
	align-self: flex-start;
}
header a {
	margin-right: 15px;
}
header a img{
	max-width: 50%;
	position: relative;
	top: -7px;
}
section {
	width: 100%;
}

.container {
	padding: 0 10px;
}

/*FORM*/
input,
select,
label {
	display: block;
}

label {
	margin-bottom: 5px;
	color: #033c82;
}

input,
select {
	width: 100%;
	padding: 10px;
	margin-bottom: 25px;
}

button[type="submit"] {
	background: none;
	border: none;
	background-color: #033c82;
	color: #fff;
	width: 100%;
	padding: 15px;
	font-size: 24px;
	cursor: pointer;
}

button[type="submit"]:disabled {
	background-color: #ccc;
}

/*FOOTER*/
footer {
	background-color: #033c82;
	padding: 20px 0;
	bottom: 0;
	width: 100%;
	align-self: flex-end;
}

footer img {
	max-width: 110px;
}

footer .img-wrapper+.img-wrapper {
	margin-top: 10px;
}

.img-wrapper {
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
}

.embed-responsive::before {
	display: block;
	content: "";
	padding-top: 56.25%;
}

.embed-responsive iframe {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.player {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-direction: column;
	background: rgba(0, 0, 0, .9);
	display: none;
	padding: 0 10px
}

.player h2 {
	color: #fff;
	margin-bottom: 15px;
}

@media(min-width:768px) {

	.container {
		width: 80%;
		margin: 0 auto;
		padding: 0;
	}
	header a img {
		max-width: 100%;
		position: initial;
		top: initial;
	}
	section .container,
	footer .container {
		display: flex;
		justify-content: center;
	}

	footer img {
		max-width: initial;
	}

	footer .img-wrapper+.img-wrapper {
		margin-top: 0;
	}

	form {
		width: 500px;
	}

	.embed-responsive {
		width: 60%;
	}

}